* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:"Georgia, sans serif";
    font-style: normal;
}

img {
    width: 27px;
    height: 27px;
}

button {
    padding: 0.5vw 1vw;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.589);
    border: 0cm;
    margin-bottom: 1vw;
}

h1 {
    color: rgb(254, 66, 143);
    margin-left: 1vw;
    font-family: "Lucida Handwriting";
    margin-bottom: 1vw;
}

input, select {
    padding: 0.5vw 1vw;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.767);
    border: 0cm;
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: 40px;
    width: 270px;
}

p {
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.637);

}

option {
    color: gray;
}
/* Utilities */
.flex {
    display: flex;
}

.flex_baseline {
    display: flex;
    align-items: baseline;
}

.flex_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

.space_around {
    display: flex;
    justify-content: space-around;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

/* Styling the sign up page*/
.body {
    padding: 2vw;
    background-image: url("/frontend/assets/69750453.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}

.container {
    justify-content: space-between;
    position: relative;;
}

.main {
    position: relative;
    background-color: #f1e4f3d0;
    padding: 2vw;
    height: 550px;
    width: 400px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login > button {
    background-color: rgba(255, 255, 255, 0.774);
    border-color: transparent;
    border-radius: 15px;
    color: rgb(254, 66, 143);
    font-weight: 600;
    font-size: 17px;
}

.choices {
    width: 100%;
}

.sign_up {
    width: 100%;
    background-color: rgb(254, 66, 143);
    font-size: 17px;
    color: white;
    font-weight: 600;
}

.popup {
    padding: 2vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4bbd3f1;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;
}

