* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:"Georgia, sans serif";
    font-style: normal;
}

.icon {
    width: 27px;
    height: 27px;
}

a {
    color: inherit;
    text-decoration: none;
}

.cancel {
    width: 100%;
    right : 0cm;
    cursor: pointer;
    top: 0cm;
}

button {
    padding: 0.5vw 1vw;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.589);
    border: 0cm;
    margin-bottom: 1vw;
}

h1 {
    color: rgb(254, 66, 143);
    margin-left: 1vw;
    font-family: "Lucida Handwriting";
    margin-bottom: 1vw;
}

h2 {
    margin-bottom: 2vw;
}

h3, h4 {
    font-size: 20px;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    color: rgba(0, 0, 0, 0.788);
}

h4 {
    font-size: 15px;

}

input, select {
    padding: 0.5vw 1vw;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.767);
    border: 0cm;
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: 40px;
    width: 270px;
}

p {
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.637);

}

.like {
    cursor: pointer;
}

option {
    color: gray;
}
/* Utilities */
.flex {
    display: flex;
}

.flex_baseline {
    display: flex;
    align-items: baseline;
}

.flex_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

.space_around {
    display: flex;
    justify-content: space-around;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.error {
    border: 1px solid red !important;
}

.chosen {
    color: rgb(254, 66, 143);
}

.dark_pink {
    background-color: #FE5D9F;
}

.semi_pink {
    background-color: #F686BD;
}

.light_pink {
    background-color: #F4BBD3;
}

.dark_gray {
    background-color: #D6D2D2;
}

.light_gray {
    background-color: #F1E4F3;
}

.cursor {
    cursor: pointer;
}

/* Styling the sign up page*/
.body {
    padding: 2vw;
    background-image: url("./assets/69750453.jpg");
    height: 100%;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.container {
    justify-content: space-between;
    position: relative;;
}

.main {
    position: relative;
    background-color: #f1e4f3d0;
    padding: 2vw;
    height: 550px;
    width: 400px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login > button {
    background-color: rgba(255, 255, 255, 0.774);
    border-color: transparent;
    border-radius: 15px;
    color: rgb(254, 66, 143);
    font-weight: 600;
    font-size: 17px;
}

.choices {
    width: 100%;
}

.sign_up {
    width: 100%;
    background-color: rgb(254, 66, 143);
    font-size: 17px;
    color: white;
    font-weight: 600;
}

.popup {
    padding: 2vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4bbd3f1;
    width: 500px;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 20em;
    margin-top: -9em;
    margin-left: -15em;
}

.space {
    margin-right: 1vw;
}

.flex_center {
    display: flex;
    align-items: center;
}

/* Styling the home page*/
/* header */
.website_header {
    padding: 1vw 2vw;
    width: 100%;
}

.nav {
    padding: 0.5vw 0vw;
}

/* body*/
.home_body {
    padding: 2vw;
}

.user {
    background-color: #D6D2D2;
    padding: 2vw;
    width:240px;
    height: auto;
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picture {
    align-self: center;
}

.user_image{
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.users_container {
    display: grid;
    position: relative;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, auto);
    row-gap: 2vw;
    column-gap: 1.7vw;
}

/* Styling the profile page */
.info_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    background-color:#D6D2D2;
    padding: 1vw;
    border-radius: 25px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_information {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_details {
    padding-top: 1vw;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
  
.switch > input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #FE5D9F;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #FE5D9F;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
 }
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.pop_up_edit {
    padding: 2vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#D6D2D2;
    position: fixed;
    top: 23%;
    left: 50%;
    width: 30em;
    margin-top: -9em;
    margin-left: -15em;
    height:fit-content;
    border: 1px solid gray;
}

/* user show page */
.user_profile_picture {
    height: 70vh !important;
    border-radius: 25px;
    width: auto;
}

.message_icon {
    width: auto;
    height: 40px
}

textarea {
    margin-top: 1vw;
    margin-bottom: 1vw;
    resize: none;
    outline: none;
    border-radius: 10px;
    padding: 1vw;
    border: 0cm;
}

.send {
    padding: 0.5vw 1vw;
    color: white;
    font-weight: 600;
    background-color: #FE5D9F;
    font-size: 15px;
}

.medium_icon {
    position: relative;
    width: 100px;
    height: auto;
}

.btn-wrapper {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: 0cm;
}

.btn-warning {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(3);
    opacity: 0;
}

.img-upload > img {
    height: 100px;
    width: 100px;
    border-radius: 500px;
    margin-right: 2vw;
}

/* Styling the messages page */
.message_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

.message {
    position: relative;    
    width: 50vw;
    min-height: 5vw;
    height: auto;
    background-color: #D6D2D2;
    margin-bottom: 2vw;
    padding: 1vw;
    border-radius: 15px;
}

.sender_image {
    border-radius: 100px;
    height: 40px;
    width: 40px;
}